*               @Mixim12
backend/        @Mixim12  @IlieGeorge @stefan-dascalu
frontend/       @Mixim12 @Sabtorin2002  @Dragosf26
db/             @Mixim12  @1LaviniaAct  @anapostol
.github/        @Mixim12
